html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#wrapper {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#sideBar {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(39, 55, 84, 0.54);
  width: 25vw;
  transition: width 0.5s;
  scrollbar-width: none;
}

#sideBar.hidden {
  width: 0%;
  min-width: 0px;
  transition: width 0.5s;
}

#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#viewDiv.noSide {
  width: 100%;
}

#hideSideBar {
  background: rgba(39, 60, 84, 0.8);
  border: none;
  color: white;
  position: absolute;
  left: 100%;
}

#layerNameHeader {
  margin-top: 10%;
  margin-left: 1%;
  margin-right: 3%;
  border-radius: 5px;
  padding-left: 4%;
  padding-bottom: 2%;
  position: absolute;
  top: 13vh;
}

.menucontainer#zeroth {
  margin-top: 10%;
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 5px;
  padding-left: 4%;
  padding-bottom: 2%;
  position: absolute;
  top: 15vh;
  width: 90%;
}

.menucontainer#filter {
  margin-top: 10%;
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 5px;
  padding-left: 4%;
  padding-bottom: 2%;
  position: absolute;
  top: 15vh;
  width: 85%;
  height: 100%;
  overflow: auto;
}

.menucontainer#visual {
  margin-top: 10%;
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 5px;
  padding-left: 4%;
  padding-bottom: 2%;
  position: absolute;
  top: 15vh;
  width: 85%;
  height: 100%;
  overflow: auto;
}

.layerheadercontainer {
  margin-top: 10%;
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 5px;
  padding-left: 2%;
  padding-bottom: 1%;
  position: absolute;
  top: 12vh;
}

.filtercontainer {
  margin-top: 10%;
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 5px;
  padding-left: 2%;
  padding-bottom: 1%;
  position: absolute;
  top: 12vh;
}

.visualvarcontainer {
  margin-top: 10%;
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 5px;
  padding-left: 2%;
  padding-bottom: 1%;
  position: absolute;
  top: 12vh;
}

#layersList {
  list-style: square;
  color: #ffffff;
  font-family: Michroma, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  width: 90%;
  font-size: calc(0.875vw + 0.875vh);
  padding-top: 0;
  margin-top: 0;
}

#layersList > li {
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#layersList > li.hover {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  background-color: rgba(138, 169, 188, 0.62);
}

.inputcontainer {
  padding-left: 6%;
  width: 90%;
}

input[type=range] {
  outline: none;
  width: 100%;
  appearance: none;
  opacity: 0.6;
  -webkit-appearance: none;
  background: #5b7c5b;
}

.menucontainer#first {
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 5px;
  padding-left: 4%;
  /*padding-bottom: 2%;*/
  position: absolute;
  top: 33vh;
  width: 90%;
}

.menucontainer#second {
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 5px;
  padding-left: 4%;
  /*padding-bottom: 2%;*/
  position: absolute;
  top: 55vh;
  width: 90%;
}

.menucontainer#third {
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 5px;
  padding-left: 4%;
  /*padding-bottom: 2%;*/
  position: absolute;
  top: 70vh;
  width: 90%;
}

#layertoggle.on {
  color: #ffffff;
  font-family: Michroma, sans-serif;
  font-weight: bold;
  font-size: 1.75vw;
}

#layertoggle.off {
  color: #cccccc;
  font-family: Michroma, sans-serif;
  font-weight: bold;
  font-size: 1.75vw;
}

.topmenu {
  background: rgba(38, 61, 81, 0.78);
  position: absolute;
  width: 100%;
  height: 15vh;
  padding-top: 3%;
}

img#gis-logo {
  position: relative;
  left: 0;
}

div#menu-button-container {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 50%;
}

i.menu-button {
  margin-bottom: 2%;
}

i.fa-map-marked-alt.unfocused.menu-button {
  color: rgba(130, 220, 220, 0);
  padding: 2%;
  background-image: url("assets/VisualV-13.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90% 90%;
  width: 10%;
  height: 10%;
  top: 22%;
}

i.fa-map-marked-alt.focused.menu-button {
  color: rgba(130, 220, 220, 0);
  padding: 2%;
  background-image: url("assets/VisualV-13.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90% 90%;
  width: 10%;
  height: 10%;
  background-color: rgba(138, 169, 188, 0.62);
  top: 22%;
}

i.fa-layer-group.unfocused.menu-button {
  color: rgba(0, 0, 0, 0);
  padding: 2%;
  background-image: url("assets/layers.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90% 90%;
  width: 10%;
  height: 10%;
  position: relative;
  top: 22%;
}

i.fa-filter.unfocused.menu-button {
  color: rgba(0, 0, 0, 0);
  padding: 2%;
  background-image: url("assets/filter.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90% 90%;
  width: 10%;
  height: 10%;
  position: relative;
  top: 22%;
}

i.fa-layer-group.focused.menu-button {
  color: rgba(0, 0, 0, 0);
  padding: 2%;
  background-image: url("assets/layers.png");
  background-color: rgba(138, 169, 188, 0.62);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90% 90%;
  width: 10%;
  height: 10%;
  position: relative;
  top: 22%;
}

i.fa-filter.focused.menu-button {
  color: rgba(0, 0, 0, 0);
  padding: 2%;
  background-image: url("assets/filter.png");
  background-color: rgba(138, 169, 188, 0.62);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90% 90%;
  width: 10%;
  height: 10%;
  position: relative;
  top: 22%;
}

input[type=range].slider {
  -webkit-appearance: none;
  width: 75%;
  margin: 5.25px 0;
  margin-top: 10px;
}

input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 1.1875vh;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #273754;
  border-radius: 0px;
  border: 0px solid #010100;
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
  border: 0px solid #001e00;
  height: 2.5vh;
  width: 3.5vw;
  border-radius: 0px;
  background: rgba(211, 216, 224, 0.93);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.65vh;
}

input[type=range]#rslider::-webkit-slider-runnable-track {
  background-image: url("assets/AH\ background-01-01.png");
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
}

input[type=range]#rslider:focus::-webkit-slider-runnable-track {
  background-image: url("assets/AH\ background-01-01.png");
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
}

input[type=range]#gslider::-webkit-slider-runnable-track {
  background-image: url("assets/SAH\ background-01-01.png");
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
}

input[type=range]#gslider:focus::-webkit-slider-runnable-track {
  background-image: url("assets/SAH\ background-01-01.png");
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%
}

input[type=range]#bslider::-webkit-slider-runnable-track {
  background-image: url("assets/SDAH\ background-01-01-01.png");
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
}

input[type=range]#bslider:focus::-webkit-slider-runnable-track {
  background-image: url("assets/SDAH\ background-01-01-01.png");
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
}

table.esri-widget__table {
  color: #c0c2c4;
  font-family: Michroma, sans-serif;
  overflow: scroll;
}

table.esri-widget__table tr td {
  font-size: calc(1.4vw + 0.4vh);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 90%;
}

table.esri-widget__table tr th {
  font-size: calc(1.6vw + 0.5vh);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 10%
}

div.esri-popup__main-container.esri-widget {
  width: 62vw !important;
}

#feature-select {
  list-style-type: none;
  color: #ffffff;
  font-family: Michroma, sans-serif;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-size: calc(0.875vw + 0.75vh);
  padding-top: 0;
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
  scrollbar-width: none;
}

#visual-select {
  list-style-type: none;
  color: #ffffff;
  font-family: Michroma, sans-serif;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-size: calc(0.875vw + 0.75vh);
  padding-top: 0;
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
  scrollbar-width: none;
}

.select-option {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 2%;
  display: flex;
  flex-direction: row;
  height: 5%;
  align-items: center;
}

.visual-option {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 2%;
  height: 5%;
  padding-bottom: 3%;
}

.visual-option.hover {
  background-color: rgba(138, 169, 188, 0.62);
}

.visual-option.highlight {
  background-color: rgba(138, 169, 188, 0.62);
}

.select-option.hover {
  background-color: rgba(138, 169, 188, 0.62);
}

.select-option.highlight {
  background-color: rgba(138, 169, 188, 0.62);
}

.visual-label {
  width: 100%;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.select-label {
  width: 40%;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.select-input {
  width: 55%;
  margin: 5.25px 0;
  margin-top: 10px;
  padding: 8px 16px;
  display: inline-block;
  height: 100%;
  background-color: rgba(138, 169, 188, 0.62);
  font-family: Michroma, sans-serif;
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 0.5em;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: calc(0.8vw + 0.2vh);
}

h5 {
  margin-bottom: 5%;
}

#filter-submit {
  background-color: rgba(76, 175, 80, 0.7);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(0.875vw + 0.65vh);
  font-family: Michroma, sans-serif;
  border-radius: 5%;
  width: 100%;
}

#filter-clear {
  background-color: rgba(244, 67, 54, 0.7);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(0.875vw + 0.65vh);
  font-family: Michroma, sans-serif;
  border-radius: 5%;
  width: 100%;
}

.filter-button-li {
  margin-bottom: 5%;
}

.modal {
  display: none;
  z-index: 500;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2%;
}

.modal-content {
  background-color: rgba(136, 136, 136, 0.5);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-header {
  background: rgba(38, 61, 81, 0.78);
  padding: 2px 16px;
  color: white;
  font-family: Michroma, sans-serif;
  font-size: calc(1.5vw + 1.5vh);
}

.modal-body {
  padding: 2px 16px;
  background: rgba(39, 55, 84, 0.54);
  color: white;
  font-family: Michroma, sans-serif;
  font-size: calc(0.875vw + 0.75vh);
}


.close-modal {
  color: #ffffff;
  float: right;
  font-size: calc(0.75vw + 0.65vh);
  font-weight: bold;
  font-family: Michroma, sans-serif;
}

.close-modal.hover {
  background-color: rgba(100, 100, 100, 0.7);
}

.modal-radio-replace {
  height: calc(0.4vw + 0.4vh);
  width: calc(0.4vw + 0.4vh);
  display: inline-block;
  background-color: #eee;
  border-radius: 50%;
  color: #eee;
  border-color: #000000;
  border-width: 2%;
  border-style: solid;
  margin-left: 0.5%;
  padding: 0.3%;
}

.modal-radio-replace.focus {
  width: calc(0.4vw + 0.4vh);
  height: calc(0.4vw + 0.4vh);
  border-radius: 50%;
  background-color: #333333;
  border-color: #000000;
  border-width: 2%;
  border-style: solid;
  margin-left: 0.5%;
  padding: 0.3%;
}

.modal-radio-container {
  margin-right: 2%;
}

.modal-input-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 1%;
}

.modal-input-container input {
  display: inline-block;
  margin-left: 2%;
  padding: 8px 16px;
  height: 100%;
  background-color: rgba(39, 55, 84, 0.75);
  font-family: Michroma, sans-serif;
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 0.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: calc(0.8vw + 0.2vh);
}

.modal-radio-wrapper {
  padding-top: 3%;
  padding-bottom: 2%;
}

#modal-submit-button {
  background-color: rgba(76, 175, 80, 0.7);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(0.875vw + 0.65vh);
  font-family: Michroma, sans-serif;
  border-radius: 10%;
  width: 20%;
  margin-bottom: 2%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 5%;
}